*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f7fb;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:90%;
    max-width:1000px;
    text-align:center;
}

.container h1{
    color:#2563eb;
    margin-bottom:40px;
}

.info-box{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    color:#2563eb;
    font-size:36px;
    margin-bottom:10px;
}

.card p{
    color:#555;
    font-size:18px;
}

@media(max-width:768px){

    .container h1{
        font-size:28px;
    }

    .card{
        padding:20px;
    }

    .card h2{
        font-size:28px;
    }

}