*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f4f4f4;
}

.loader-container{
    text-align:center;
}

.loader{
    width:70px;
    height:70px;
    border:8px solid #ddd;
    border-top:8px solid #2563eb;
    border-radius:50%;
    animation:spin 1s linear infinite;
    margin:0 auto 20px;
}

p{
    font-size:20px;
    color:#2563eb;
    font-weight:bold;
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }

    100%{
        transform:rotate(360deg);
    }
}

@media(max-width:768px){

    .loader{
        width:60px;
        height:60px;
    }

    p{
        font-size:18px;
    }

}