*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f0f2f5;
}

header{
    background:#1877f2;
    color:white;
    text-align:center;
    padding:20px;
}

.feed{
    max-width:700px;
    margin:30px auto;
    padding:10px;
}

.post{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
}

.post h2{
    color:#1877f2;
    margin-bottom:10px;
}

.post p{
    margin-bottom:15px;
    line-height:1.5;
}

.post button{
    background:#1877f2;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

.post button:hover{
    background:#145dbf;
}

@media(max-width:768px){

    .feed{
        width:95%;
    }

    .post{
        padding:15px;
    }

    header h1{
        font-size:26px;
    }

}