body{
    font-family: Arial;
}

.header{
    border:2px solid black;
    padding:20px;
    text-align:center;
}

.hero{
    border:2px solid black;
    height:250px;
    text-align:center;
    padding-top:50px;
    margin-top:10px;
}

.about{
    border:2px solid black;
    padding:50px;
    margin-top:10px;
    text-align:center;
}

.footer{
    border:2px solid black;
    padding:20px;
    margin-top:10px;
    text-align:center;
}